/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 26, 2023, 1:25:30 PM
    Author     : User
*/
html{
  height: 100%;
}

body {
    font-family:Trebuchet MS;
    margin: 0;
    background-image: url('');
    background-color: #f0f1f5;
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
}

.frame {
  background-color:white;
  opacity: 0.95;
  border-radius: 5px;
  margin: 130px;
  width: 500px;
  padding: 30px 30px 50px 30px;
}

a:link {
  color: grey;
  font-size: 13px;
  text-decoration: none;
  display: inline-block;
}

a {
   color: grey; 
}

a:hover {
    text-decoration: underline;
    color: black;
}

  .buttondeco{
    border-radius: 30px;
    border: none;
    background-color: #ff3a14;
    color: white;
    padding: 14px 110px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  }
  .buttondeco:hover {
    background-color: #e03f34;
  }
  .button_register{
    border-radius: 30px;
    border: none;
    background-color: black;
    color: white;
    padding: 14px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 20px 0 0 0;
  }
  .button_register:hover {
    background-color: grey;
  }
  .textbox {
  border: 1px solid #666666;
  border-radius: 5px;
  outline: 0;
  height: 35px;
  width: 250px;
  }

.field {
    margin-bottom: 13px;
}

h1 {
    color: #ff2900;
}

h2 {
    color: #ff2900;
}

div.header {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-between;
}

table.header {
    flex: 1;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

.header-logo {
    margin-right: 20px;
    padding: 15px 0 10px 20px;
}

.login-logo {
    margin-right: 5px;
    padding: 30px 0 40px 0;
}

.header-searchbar {
    position: relative;
}

.header-input {
    border-radius: 5px;
    border: 1px solid #898989;
    width: 100%;
    height:34px;
    padding: 0px 10px;
}

.header-button {
    background-color: #107068;
    border-radius: 0 5px 5px 0;
    border: 1px solid #898989;
    position: absolute;
    flex: 1;
    top: 0;
    right: 0;
    width: 60px;
    height:34px;
}

.header-button:hover {
    background-color: #72a6a1;
    transition: .2s;
    cursor: pointer;
}

#book {
    width: 15%;
    display: inline-block;
    margin: 0 0 0 10px;
    padding:20px 12px 5px 12px;
    border-radius: 2px;
    background-color: white;
}

.book-button {
    
}

.btn-signup {
    margin-right: 15px;
}

span {
    vertical-align: middle;
}

span.cart {
    display: inline-block;
    background-color: #1d3850;
    color: #fff;
    padding: 3px 10px;
    position: relative;
    border: 1px dashed #1d3850;
    font-weight: 700;
    line-height: 1.2;
}

span.no-cart {
    position: relative;
    display: inline-block;
    padding: 3px 10px;
    background-color: #fff;
    border: 1px dashed #1d3850;
    color: #1d3850;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
}

.material-symbols-outlined {
    margin-right: 3px;
}

p {
    margin: 0;
}

ul.books {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-column-gap: 4px;
    list-style-type: none;
    overflow: hidden;
    flex: 1;
    padding: 1px 1px;
}

ol.cart {
    padding: 12px 0 30px 0;
    margin: 0;
    display: flex;
    list-style: none;
    align-items: center;
    display: flex;
    justify-content: center;
}

li {
    float: left;
    border-radius: 4px;
    margin: px;
}

li a.preview {
  display: block;
  background-color: #ff6666;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  border-radius: 4px;
}

li.preview a:hover {
  background-color: #ff9999;
  border-radius: 4px;
  transition: .3s;
}

li a.cart {
  display: block;
  background-color: #50857f;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  border-radius: 4px;
}

li.cart a:hover {
  background-color: #72a6a1;
  border-radius: 4px;
  transition: .3s;
}

ul.header {
    font-weight: 700;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-column-gap: 4px;
    list-style-type: none;
    overflow: hidden;
    background-color: black;
    flex: 1;
    padding: 3px 3px;
}

li.header {
    float: left;
    border-radius: 4px;
    background-color: #f5f8fc;
}

li a.header {
  display: block;
  color: #352b6e;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  border-radius: 4px;
}

li.header a:hover {
  border-radius: 4px;
  background-color: #9aa0b5;
  color: white;
}

.category-btn {
  position: relative;
  transition: .3s;
}

.category-btn:hover .image {
  display: block;
  overflow: hidden;
}

.image {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 50%;
  transition: .3s;
  transform: translate(-50%, -47px);
  width: 303px;
  height: 50px;
  background-image: url('img/book1.jpg');
  background-size: cover;
  border-radius: 4px;
  z-index: 2;
}

.index {
    position: relative;
    z-index: 3;
}

.main {
    margin: 20px;
    flex: 1;
}

#all-books {
    
}

.img {
    width: 159px;
    height: 225px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-cart {
    width: 106px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.title {
    padding-left: 50px;
    background-color: #ffcccc;
}

div.information {
    margin-left: 170px;
    padding:5px;
}

p.information {
    background-color: #ffcccc;
    color:red;
}

p.title {
    float: left;
    background-color: white;
    text-align: center;
    width: 15%;
    margin-right: 23px;
    padding:5px;
}

.aside {
    float: right;
    width: 226px;
    box-sizing: border-box;
    position: relative;
    top: -20px;
}

section {

}

.side {
    background-color: white;
}

.left-main {
    
}

hr {
    margin: 0;
    border-width: 3px;
}

.cart-frame {
  background-color:white;
  opacity: 0.95;
  border-radius: 5px;
  margin: 50px;
  width: auto;
  padding: 30px 40px 50px 40px;
}

.product-table {
    padding: 0 0 30px 0;
}

.product-list-header {
    display: grid;
    grid-template-columns: 700px 150px;
    background-color: #1d3850;
    border-radius: 7px 7px 0 0;
}

.product-title {
    text-align: center;
    font-weight: 700;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8px;
}

.product-list-section {
    display: grid;
    grid-template-columns: 700px 150px;
    background-color: white;
    border: 1px solid #1d3850;
}

.product-list {
    margin: 8px;
}

.product-list-desc {
    float: left;
}

.product-list-checkbox {
    background: #eef0f2;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #ccc;
}

.checkout-list-section {
    display: grid;
    grid-template-columns: 400px 150px;
    background-color: white;
    border: 1px solid #1d3850;
    border-radius: 3px;
}

.btn-cart-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 16px;
}

  .btn-cart{
    border-radius: 30px;
    border: none;
    background-color: #f2583a;
    color: white;
    padding: 14px 110px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #ccc;
  }
  
  .btn-cart:hover {
    background-color: #e03f34;
  }
  
   .btn-pay{
    border-radius: 30px;
    border: none;
    background-color: #15824d;
    color: white;
    padding: 14px 110px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #ccc;
  }
  
  .btn-pay:hover {
    background-color: #66ba91;
  }
  
  .footer {
    height: 18px;
    padding: 4px 0;
    background-color: #107068;
    text-align: center;
    color: white;
    font-size: 12px;
  }

